body{
background-image: url("foto/background.jpg");
position: relative;
}

p{
  position: relative;
  color: DodgerBlue;
}

li a{
  position: relative;
  color: DodgerBlue;
  padding: 2px 2px;
  margin: 1px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

h2{
  position: relative;
  color: DodgerBlue;
}

#block{
  position: relative;
  background-image: url("foto/background1.jpg");
  text-align: center;
  text-decoration: none;
  display: block;
  height: 880px;
  width: 500px;
}

#mij{
  position: relative;
  height: 250px;
  width: 250px;
}

#fotograaf{
  position: relative;
  height: 120px;
  width: 120px;
}

#tekening{
  position: relative;
  height: 140px;
  width: 160px;
}

#dansen{
  position: relative;
  width: 150px;
  height: 140px
}

#taarten{
  position: relative;
  height: 150px;
  width: 110px;
}

footer{
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}
.dropdown {
  text-align: left;
}

.drop-button {
}

#dropdown-content {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 5;
  display: block;
  border: 1px solid black;
  margin-right: 410px;
  background-color: white;
}
